<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>378207503848-hbhr3mnn27vn6rf692gr3e5gf855spgn.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.378207503848-hbhr3mnn27vn6rf692gr3e5gf855spgn</string>
	<key>API_KEY</key>
	<string>AIzaSyC61lXp__IypHtXHsHW-eRImKUe1MLVU0Q</string>
	<key>GCM_SENDER_ID</key>
	<string>378207503848</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Or.EAT-IT-OR</string>
	<key>PROJECT_ID</key>
	<string>eat-it-3fc88</string>
	<key>STORAGE_BUCKET</key>
	<string>eat-it-3fc88.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:378207503848:ios:541d3fff160d5736cfd05d</string>
	<key>DATABASE_URL</key>
	<string>https://eat-it-3fc88.firebaseio.com</string>
</dict>
</plist>